body {
  background-image: url("img/unix-back.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: #acbc5d;

}
#container {
  margin-left: auto;
  margin-right: auto;

}
/*/////////////////////////////     CSS SMARTPHONE     ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 320px) {  /*--------ici media css pr ecran)*/

body {
                background-size: 100%;
}

nav {
                margin-top: 5px;
                display: inline-block;
                }

.home {
                color: rgb(0, 0, 0);
                font-size: 0.7em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 28%;
                margin-top: 12%;
                background-color: rgb(0, 0, 0);
                width: 70%;
                padding: 2%;
                display: inline-block;
                float: left;

}


a {
                text-decoration: none;
                color: white
}


#title {
                height: 15%;
                margin-left: 35%;
                margin-top: 12%;
                color: rgb(41, 41, 41);
                font-size: 1.5em;
                font-weight: bold;
                font-family: sans-serif;
}


/*#command {
                display: none

}*/

#list {
                /*position: absolute; z-index: 2;*/
                border: 2px solid white;
                padding-bottom: 5%;
                padding-top: 1%;
                padding-left: 3%;
                margin: 0 auto;
                width: 90%;
                height: 70%;
                font-size: 1em;
                font-weight: bold;
                font-family: sans-serif;
                color: white;

}

#list li {
                display: inline-block;
                padding-right: 2%;
                padding-left: 0%;

}

li img {
        display: inline-block;

}


.black {
                font-size: 0.8em;
                font-weight: bold;
                font-family: sans-serif;
                color: black;
}

 section {
                margin-top: -5%;
                margin-bottom: 2%;
                color: black;
                font-size: 1em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 35%;
}
}

/*/////////////////////////////     CSS TABLETTE      ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 599px) {


nav {
             margin-top: 2%;
             display: inline-block;
             float: left;
           }
.home {
               color: rgb(0, 0, 0);
               font-size: 1.5em;
               font-weight: bold;
               font-family: sans-serif;
               margin-left: 28%;
               background-color: rgb(0, 0, 0);
               width: 75%;
               padding: 3%;
               display: inline-block;
           }

a {
             text-decoration: none;
             color: white;
           }

#title {
             height: 40%;
             margin-left: 36%;
             margin-top: 13%;
             color: rgb(41, 41, 41);
             font-size: 3.5em;
             font-weight: bold;
             font-family: sans-serif;
             }


#list {
               /*position: absolute; z-index: 2;*/
               border: 2px solid white;
               padding-bottom: 5%;
               padding-top: 3%;
               padding-left: 3%;
               margin: 0 auto;
               width: 85%;
               height: 70%;
               font-size: 1.2em;
               font-weight: bold;
               font-family: sans-serif;
               color: white;

           }
#list li {
               display: inline-block;
               padding-right: 7%;
               padding-left: 0%;
           }


.black {
               font-size: 0.8em;
               font-weight: bold;
               font-family: sans-serif;
               color: black;
           }

section {
             margin-top: 7%;
             color: black;
             font-size: 1.8em;
             font-weight: bold;
             font-family: sans-serif;
             margin-left: 35%;
             margin-bottom: 5%;
           }
                 }

/*/////////////////////////////////  CSS DESKTOP    ////////////////////////////////////////////
//                                                                                               //
//////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 900px) {


nav {
              margin-top: 4%;
              margin-left: 7%;
              display: inline-block;
            }

.home {
                color: rgb(0, 0, 0);
                font-size: 1.5em;
                font-weight: bold;
                font-family: sans-serif;
                margin-left: 19%;
                margin-top: 13%;
                background-color: rgb(0, 0, 0);
                width: 90%;
                padding: 3%;
                display: inline-block;
            }

a {
              text-decoration: none;
              color: white;
              margin-left: 3%;
            }

#title {
              height: 60%;
              margin-left: 35%;
              margin-top: 15%;
              color: rgb(41, 41, 41);
              font-size: 5em;
              font-weight: bold;
              font-family: sans-serif;
              }
section {
              margin-top: 7%;
              color: black;
              font-size: 2em;
              font-weight: bold;
              font-family: sans-serif;

              }

#list {
                /*position: absolute; z-index: 2;*/
                border: 2px solid white;
                padding-bottom: 5%;
                padding-top: 0%;
                padding-left: 3%;
                margin-left: 10%;
                width: 80%;
                height: 70%;
                font-size: 1.2em;
                font-weight: bold;
                font-family: sans-serif;
                color: white;

            }
#list li {
                display: inline-block;
            }


.black {
                font-size: 0.8em;
                font-weight: bold;
                font-family: sans-serif;
                color: black;
            }


}
